body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}
@keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 1759.91015625px;
        stroke-dasharray: 1759.91015625px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1759.91015625px;
    }
}
.svg-elem-1.animate {
    animation: animate-svg-stroke-1 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s both;
}
@keyframes animate-svg-stroke-2 {
    0% {
        stroke-dashoffset: 407.61663818359375px;
        stroke-dasharray: 407.61663818359375px;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 407.61663818359375px;
    }
}
.svg-elem-2.animate {
    animation: animate-svg-stroke-2 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s both;
}
.circle.fade-in {
    animation: fadeIn 0.8s forwards;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.visible {
    opacity: 1;
}
.spacing {
    margin-left: 20px;
}
.circle {
    position: absolute;
    transform: translate(67px,-35px);
}